@import "normalize";
@import "layout";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


body{
	font-family: 'Lato', sans-serif;
	color:  #b7bacd;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 22px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	background: #3F4453 url(../img/fon.jpg);
	background-size: cover;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
a{
	text-decoration: none;
}
textarea {

}
/*iformation part*/
.ba-information-section{

	background-color:  #212534;
	box-shadow: 0px 23px 57px 0px rgba(0, 0, 0, 0.4);
	width: 600px;
	//height: 541px;
	margin: 146px 178px 174px 230px;
	.ba-grids{
		background: #212534;
		display: inline-flex;
		padding-top: 52px;
	}
	.icon-section :first-child{
		padding-right: 0;
	}
	.icon-section{
		padding-bottom: 0px;
		margin-bottom: 0px;
		text-align: center;
		justify-content: space-between;
		background: #2b3040;
		//flex-direction: row;
		//display: flex;
		}

		.ba-icon-row p{
			margin-bottom: 26px;
		}
	.ba-icon-row{
		display: inline-block;
		border-bottom: 2px solid #2B3040;
		//margin-right: 30px;
		//padding: 30px;
		padding-right: 30px;
		padding-top: 30px;
		background: #2b3040;
		background-size: cover;
		width: 32.33%;
	}
	.ba-column-1{
		padding: 40px;
		padding-top: 0;
		padding-right: 24px;
		padding-left: 24px;
		//width: 100px;
		//height: 50px;
	}

	.ba-column-2-1{
		display: grid;
	}
	.ba-title{
		margin-top: 0;
		float: left;
	}
	.ba-title-second{
		//float: left;
	}
	.ba-column-2 p{
		float: left;
	}
	.ba-information{
		color:  #fbfbfb;
		font-size: 16px;/* Приближение из-за подстановки шрифтов */
		font-weight: 400;
		line-height: 28px;/* Приближение из-за подстановки шрифтов */
		text-align: center;
		margin-top: 0px;
	}
	.ba-title{
		color:  #ffffff;
		font-size: 32px;/* Приближение из-за подстановки шрифтов */
		font-weight: 400;
		line-height: 20px;/* Приближение из-за подстановки шрифтов */
		text-align: left;
		margin-top: 20px;
		margin-bottom: 0px;
		letter-spacing: -1px;
	}
	.ba-title-second{
		color:  #fdfdfd;
		font-size: 14px;/* Приближение из-за подстановки шрифтов */
		font-weight: 400;
		line-height: 20px;/* Приближение из-за подстановки шрифтов */
		text-align: left;
		margin-top: 15px;
		margin-bottom: 21px;
		letter-spacing: -0.25px;
	}
	.ba-prise-title{
		color:  #fedd3f;
		font-size: 12px;/* Приближение из-за подстановки шрифтов */
		font-weight: 700;
		line-height: 20px;/* Приближение из-за подстановки шрифтов */
		text-align: center;
		margin: 45px 36px 0px 0;
	}
	.ba-price{
		color:  #ffffff;
		font-size: 32px;/* Приближение из-за подстановки шрифтов */
		font-weight: 400;
		line-height: 20px;/* Приближение из-за подстановки шрифтов */
		text-align: center;
		margin-top: 8px;
	}
	.price-grid{
		display: inline-block;
	}
	.price-grid-2{
		position: relative;
		left: 48%;
		bottom: 18%;

	}
	.button{
		color:  #ffffff;
		font-size: 16px;/* Приближение из-за подстановки шрифтов */
		font-weight: 700;
		line-height: 20px;/* Приближение из-за подстановки шрифтов */
		text-align: center;
		background-color: #13e28d;
		padding: 19px 35px 17px 33px;
	}
	.ba-information-row{
		color: #8D91A3;
	}
	.ba-icon-row:hover{
		border-bottom: 2px solid white;
		color:  #b7bacd;
	}
	.ba-star{
		padding: 0px 0 0 20px;
	}
	.ba-icon-row-3{
		padding: 0 11% 0 0;
	}
}
